<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" dir="rtl">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style.css">
    <title>Vite App</title>
</head>
<body>
<nav class="container-fluid navbar-expand-md mx-auto navbar-fixed fixed-top  " id="navbar">
    <div class="navbar bg-light justify-content-between  ">
        <div class="container ">
            <div class="btn btn-group d-flex d-none d-sm-block">
                <button class="btn btn-light">تماس با ما</button>

                <button class="btn btn-light">اخبار</button>

                <button class="btn btn-light">خدمات</button>

                <button class="btn btn-light">تفیلو</button>

                <button class="btn btn-light">درباره ما</button>

                <button class="btn btn-light">خانه</button>

            </div>

            <img src="public/logo.png" alt="logo">
        </div>
    </div>
</nav>

<div class="container " id="header">
    <div class="row mt-5">
        <div class="col-md-6">
            <h1><span style="color: dimgrey">باما</span> بسازید</h1>

            <h1> آژانسی<span style="color: dimgrey"> بینظیر </span></h1>

            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</p>

            <button class="btn btn-secondary"> شروع کنید</button>

            <button class="btn btn-outline-secondary">تست رایگان</button>
        </div>

        <div class="col-md-6 mt-4">
            <img class="img-fluid" src="public/header-img.png" alt="header">
        </div>

        <div class="container my-5">
            <div class="row mt-3 ">
                <div class="col-md-6">
                    <img class="img-fluid" src="public/about-img.png" alt="header">

                </div>

                <div class="col-md-6">
                    <h1>چرا ما؟</h1>

                    <p>
                        ما چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                        درصد گذشته

                        حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
                        طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می
                        توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد
                        نیاز شامل حروفچینی دستاوردهای اصلی
                    </p>
                    <ul>
                        <li> ویژگی های کامل</li>

                        <li>لورم ایپسوم متن</li>

                        <li>ساختگی با تولید سادگی</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-2 pb-2">
    <h3 class="text-center text-muted">پروسه</h3>

    <h1 class="text-center pb-2">پروسه کاری ما</h1>

    <div class="row mt-3 justify-content-between ">
        <div class="card border-4 col-md-2 text-center  " id="card">

            <h3 class="mt-2">چت </h3>

            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است؟</p>

        </div>
        <div class="card border-4 col-md-2 text-center ">

            <h3 class="mt-2"> انتقال</h3>

            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است؟</p>

        </div>
        <div class="card border-4 col-md-2  text-center">
            <h3 class="mt-2">تحقیق</h3>

            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است؟</p>

        </div>
        <div class="card border-4 col-md-2 text-center">
            <h3 class="mt-2"> قرارداد</h3>

            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است؟</p>
        </div>

    </div>
</div>
<div class="container my-4">
    <h3 class="text-center text-muted">کار</h3>

    <h1 class="text-center ">نمونه کاری ما</h1>

    <div class="row">
        <div class="btn ">
            <button class="btn btn-light">همه</button>

            <button class="btn btn-light">طراحی وب</button>

            <button class="btn btn-light">مارکتینگ</button>

            <button class="btn btn-light">برندینگ</button>
        </div>
    </div>
</div>

<div class="container pb-2 ">
    <h3 class="text-center text-muted">خدمات</h3>

    <h1 class="text-center pb-2"> آنچه ارائه میکنیم</h1>

    <div class="row mt-3" id="row">
        <div class="col-md-4">
            <div class="card border-4 text-center mx-auto">

                <h3 class="mt-2 ">اچ تی ام ال 5 </h3>

                <p>آنچه ارائه میکنیم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-4  text-center ">

                <h3 class="mt-2"> اپ موبایل</h3>

                <p>آنچه ارائه میکنیم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</p>

            </div>

        </div>
        <div class="col-md-4">
            <div class="card border-4   text-center ">
                <h3 class="mt-2">تحقیق</h3>

                <p>آنچه ارائه میکنیم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</p>

            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card border-4 text-center">
                <h3 class="mt-2"> قرارداد</h3>

                <p>آنچه ارائه میکنیم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</p>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-4 text-center">
                <h3 class="mt-2"> قرارداد</h3>

                <p>آنچه ارائه میکنیم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-4 text-center">
                <h3 class="mt-2"> قرارداد</h3>

                <p>آنچه ارائه میکنیم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</p>

            </div>
        </div>
    </div>
</div>


<div class="container mt-3 text-center pb-2 bg-secondary rounded ">
    <div class="d-flex">
        <div class="col-md-8 mt-2">
            <h1>بیایید با هم روی پروژه شما کار کنیم</h1>
        </div>

        <div class="col-md-4 mt-3 ">
            <button class="btn btn-secondary">تماس با ما</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3">
            <h2>اخبـار</h2>

            <h1>آخرین پست ها</h1>

            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و در
                ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع</p>
        </div>

        <!--        <div class="col-md-6">-->

        <!--            <div class="row">-->

        <!--                <div class="col-md-6">-->

        <!--                    <div class="card-img text-center">-->

        <!--                        <img class="rounded" src="public/news1.jpg" alt="new1">-->

        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="col-md-6">-->
        <!--                    <img class="rounded" src="public/news2.jpg" alt="new2">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
<div class="container my-2 pb-2">
    <h3 class="text-center text-muted">تماس با ما</h3>

    <h1 class="text-center pb-2">به ما بپیوندید</h1>
    <div CLASS="row">
        <div class="col-md-4">
            <div>
                <h4>آدرس </h4>
                <p class="text-muted"> خیابان 121 کینگ ، ملبورن ویکتوریا 3000 استرالیا </p>
            </div>
            <div>
                <h4>تلفن </h4>
                <p class="text-muted">+61 3 8376 6284 </p>
            </div>
            <div>
                <h4>ایمیل </h4>
                <p class="text-muted"> support@example.com </p>
            </div>

        </div>
        <div class="col-md-8">
            <div>
                <form>
                    <div class="row pb-2">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="نام" name="email">

                        </div>
                        <div class="col">
                            <input type="password" class="form-control" placeholder="ایمیل" name="pswd">

                        </div>
                    </div>
                    <div class="col">

                        <input type="text" class="form-control" placeholder="موضوع" name="temp">

                    </div>

                    <label class="mt-2 mb-2" for="comment">پیام</label>

                    <textarea class="form-control" rows="5" id="comment" name="text" placeholder="متن"></textarea>

                </form>
                <button class="btn btn-success mt-3 ">ارسال پیام</button>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-3">
            <ul>

            </ul>

        </div>
        <div class="col-md-3">
            <h3>درباره ما</h3>
            <ul class="nav flex-column">
                <li><a href="#"></a> درباره ما</li>
                <li><a href="#"></a>تماس با ما</li>
                <li><a href="#"></a>پرتفیلو </li>
            </ul>

        </div>
        <div class="col-md-3">
            <h3>پشتیبانی</h3>
            <ul class="nav flex-column">
                <li><a href="#"></a>support@example.com</li>
                <li><a href="#"></a> +61 3 8376 6284 </li>
                <li><a href="#"></a>خدمات</li>
            </ul>

        </div>
        <div class="col-md-3">
            <h3>دنبال کنید</h3>
            <ul class="nav flex-column">
                <li ><a href="#"></a> فیسبوک</li>
                <li><a href="#"></a>توییتر</li>
                <li><a href="#"></a>اینستاگرام</li>
            </ul>

        </div>
    </div>
    <div id="a" >

    </div>

    <script type="module" src="/main.js"></script>
</body>
</html>
